/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');/** bold **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');/** medium **/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');/** regular **/
/* html{
    scroll-behavior: smooth;
} */
/** LOADER**/
.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #000000;
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
}
.lds-roller {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #dfc;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes fadeOut{
      100%{
          visibility: hidden;
          /* opacity: 0; */
          display: none;
      }
  }
  /* LOADER end */
.navbar {
    background-color: transparent !important;
    transition: .3s linear;
}

.fixed {
    background-color: #00000070 !important;
    padding: 0;
}

.navbar,
.navbar-brand {
    font-size: 1.7rem;
}

.navbar-brand {
    padding-left: 5rem;
}

.navbar-nav {
    margin: 0 30rem auto;
}

.navbar-nav>li {
    font-size: 1.2rem;
    margin: 15px;
    font-weight: 500;
    color: #e1b382;
    font-family: 'Roboto',sans-serif;

}

.nav-link {
    color: #e1b382;
    transition: .3s ease;
}

.nav-link:hover {
    color: #e1b382;
}

.home {
    background: url("../images/work-1627703_1920.jpg") no-repeat;
    background-size: cover;
    height: 40rem;
}

.col-md-6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titles>p {
    font-size: 1.5rem;
    text-align: center;
    color: #c89666;
    margin-bottom: 0;
    font-family: 'Lato',sans-serif;
}

.titles>h3 {
    font-size: 3.4rem;
    text-align: center;
    color: white;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: .5px;
}

.button {
    width: 100%;
    margin: 3rem 10rem auto;
}

.button>a {
    background-color: #c89666;
    opacity: 1;
    color: white;
    padding: 1.5rem 4rem;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
}

/* SERVICES section */
.services {
    padding: 5rem 0 5rem;
}

.services>.container>h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;

}

.services>.container>.row>.col-md-4>.card {
    border: none;
    border-radius: 0;
}

.services>.container>.row>.col-md-4>.card>.card-header {
    text-align: center;
    border-bottom: none;
    background-color: transparent;
}

.card>.card-header>i {
    font-size: 3rem;
    background-color: yellow;
    padding: 1.5rem;
    border-radius: 50px;
}

.card>.card-body {
    text-align: center;
}

/* PORTFOLIO section */
.portfolio {
    padding: 0 0 5rem;
}

.portfolio > .container > h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;

}

.col-md-4>.card>.card-header>img {
    width: 100%;
}

.card {
    border: none;
    border-radius: 0;
}

.card>.card-header {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}

.card-header>.overly {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #e1b3829e;
    opacity: 0;
    transition: .4s ease-in-out;
    font-family: 'Roboto',sans-serif;

}

.overly:hover {
    opacity: 1;
}

.overly-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ABOUT section */
.about {
    padding: 5rem 0 5rem;
}

.about > .container > h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;

}

.info > h4{
    font-size: 2.5rem;
    font-family: 'Open Sans',sans-serif;

}
.info > p{
    letter-spacing: .5px;
    margin: 2rem 0 2rem;
}
.info > ul > li{
    list-style-type: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.info{
    margin-left: 10%;
}
.info > ul{
    padding: 0;
}
ul > li > .firstSpan{
    font-weight: bold;
    white-space: nowrap;
}
ul > li > .secondSpan{
    color: #e1b382;
    white-space: nowrap;
}
/* FOOTER section */

.footer{
    background-color: #000000;
    padding: 2rem;
}
.copyright > p{
    color: #c89666;
    font-family: 'Lato',sans-serif;

}
.smallInfo{
    color:#c89666;
}
.social-networks > a{
    text-decoration: none;
    margin: 5px;
}
.social-networks > a > i{
    width: 40px;
    height: 40px;
    background-color: #e1b382;
    color: #000000;
    text-align: center;
    line-height: 40px;
    font-size: 1.5rem;
    border-radius: 50px;
    transition: .3s ease;
}
.social-networks > a > i:hover{
    background-color: #000000;
    color: #c89666;
}
/* Scroll-bar */
::-webkit-scrollbar{
    width: 3px!important;
}
::-webkit-scrollbar-thumb{
    background-color: #c89666;
    /* border-radius: 50px!important; */
}
::-webkit-scrollbar-track{
    background-color: #000000;
}

/* RESPONSIVE */
@media (min-width:315px) and (max-width:330px) {
    html,body{
        overflow-x: hidden;
    }
    .loader{
        width: 100vw;
        height: 100vh;
    }
    .navbar{
        width: 100vw;
        padding: 10px 0;
    }
    .navbar-brand{
        padding: 0 0 0 20px;
        font-size: 1.3rem;
    }
    .navbar-toggler{
        margin-right: 20px;
    }
    .change{
        background-color: #000000!important;
    }
    .navbar-nav{
        margin: 0 5rem;
    }
    .button{
        width: 40%;
        position: absolute;
        left: -15%;
        margin-top: 2rem;   
    }
    .button > a{
        padding: 1rem 2rem;
        border-radius: 10px;
        font-size: .7rem; 
    }
    .titles>h3{
        font-size: 2.5rem;
    }
    .services {
        padding: 3rem 0 3rem;
    }
    .portfolio{
        padding-bottom: 0;
    }
    .portfolio > .container>.row>.col-md-4{
        margin-bottom:5px;
    }
    .portfolio > .container>.mt-4 {
        margin-top: 0rem !important;
    }
    .about{
        padding: 2rem 0 2rem;
    }
    .info {
        margin-left: 0;
    }
    .info > h4 {
        margin-top: 20px;
        font-size: 1.5rem;
    }
    .info > ul > li {
        font-size: 1rem;
    }
}